In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [34]:
DATA = pd.DataFrame(pd.read_csv('heart.csv'))

In [35]:
DATA.keys()

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [38]:
DATA.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [55]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
DATA['sex'] = le.fit_transform(DATA['Sex'])
DATA['chestpaintype'] = le.fit_transform(DATA['ChestPainType'])
DATA['Exercise_angina'] = le.fit_transform(DATA['ExerciseAngina'])
DATA['restingECG'] = le.fit_transform(DATA['RestingECG'])
DATA['ST_slope'] = le.fit_transform(DATA['ST_Slope'])

In [58]:
x = DATA[['Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak', 'sex', 'chestpaintype', 'restingECG', 'ST_slope']]

In [59]:
x.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,sex,chestpaintype,restingECG,ST_slope
0,40,140,289,0,172,0.0,1,1,1,2
1,49,160,180,0,156,1.0,0,2,1,1
2,37,130,283,0,98,0.0,1,1,2,2
3,48,138,214,0,108,1.5,0,0,1,1
4,54,150,195,0,122,0.0,1,2,1,2

In [60]:
y = DATA['HeartDisease']

In [74]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 30)
x_train

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,sex,chestpaintype,restingECG,ST_slope
349,36,110,0,1,125,1.0,1,0,1,1
892,39,138,220,0,152,0.0,0,2,1,1
568,38,110,289,0,105,1.5,1,0,1,0
407,62,115,0,1,72,-0.5,1,0,1,1
612,55,122,223,1,100,0.0,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...
140,52,160,331,0,94,2.5,1,0,1,1
500,65,136,248,0,140,4.0,1,0,1,0
813,69,140,239,0,151,1.8,0,3,1,2
421,66,120,0,0,120,-0.5,1,2,2,2
805,54,140,239,0,160,1.2,1,0,1,2

In [75]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8641304347826086

In [82]:
from sklearn.decomposition import PCA
pc = PCA(0.80)
x_pc = pc.fit_transform(x)

In [83]:
x_train, x_test, y_train, y_test = train_test_split(x_pc, y, test_size = 0.2, random_state = 30)

In [66]:
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.6521739130434783

In [67]:
pc_2 = PCA(n_components=5)
x_pc2 = pc.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x_pc2, y, test_size = 0.2, random_state = 30)
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.6521739130434783